{% extends "layout.html" %}
{% block content %}
    <main class="main">
        <h4 class="instruction">State your Row (1-8):</h4>
        <form method="POST">
            <p><textarea autofocus name="content" id="entry" class="form__textarea" maxlength="10"></textarea></p>
            <p><button type="submit" id="button" class="form__submit">Enter</button></p>
        </form>
        <section>
            {% if message %}
            <h4>{{ message }}</h4>
            {% endif %}
            <h3><span class="container">
                {% if piece %}
                    {{ piece }}
                {% endif %}
                {% if color %}
                    {{ color }}
                {% endif %}
                {% if row %}
                    {{ row }}
                {% endif %}
            </span></h3>
                {% if valid %}
                    <span class="valid">{{ valid | safe }}</span>
                {% endif %}
        </section>
            {% if empty_board %}
                {{ empty_board | safe }}
            {% endif %}
    </main>
{% endblock content %}
