<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Varigarble</title>
    <link href="..\static\css\style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
	<header class="page__header">
        <div class="header__left"></div>
		<div class="header__center">
            <h1>How to Move Chess Pieces</h1>
        </div>
        <div class="header__right">
            <div class="header__right_content">
                <a class="nav" href="https://varigarble.com/alpha_cal_js/templates/alpha-cal.html">
                    DB Calendaring Project</a>
                <p>
                <a class="nav" href="https://varigarble.com/tm-tm-db/tm-tm-db.html">
                    Trademark DB Automation Project</a></p>
            </div>
        </div>
	</header>
    {% block content %}{% endblock content %}
    <footer class="footer">
            <div class="footer__content">
                <section class="left">
                    <p class="footer__item__left">Varigarble</p>
                    <p class="footer__item__left">2021</p>
                </section>
                <section class="right">
                    <div class="footer__column">
                        <p class="footer__item__middle">Source code:</p>
                        <p class="footer__item__middle">Contact:</p>
                    </div>
                    <div class="footer__column">
                        <a class="footer__item__right" href="https://github.com/Varigarble?tab=repositories">GitHub</a>
                        <a class="footer__item__right" href="https://www.linkedin.com/in/gabriel-canevari-7a93a4133/">LinkedIn</a>
                    </div>
                </section>
            </div>
        </footer>
        <script src="{{ url_for('static', filename='scripts/chess.js') }}"></script>
</body>
</html>
